<div class="navbar bg-base-100 flex items-center bg-slate-100 mb-10">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <button class="text-xl bg-blue-500 text-white px-4 py-3 rounded"
                        onclick="document.getElementById('my_modal_1').showModal()">Add Schedule +</button>
                </li>
                <li><a><img class="h-10 w-10" src="https://img.icons8.com/?size=50&id=11642&format=png" alt=""></a></li>
                <li><a><img class="h-10 w-10" src="https://img.icons8.com/?size=32&id=39116&format=png" alt=""></a></li>
            </ul>
        </div>
        <a class="text-4xl">Carwash</a>
        <!-- <button class="btn btn-success" (click)="getUsers()">Fetch</button> -->

    </div>

    <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1 flex items-center gap-5">
            <li>
                <button class="text-xl bg-blue-500 text-white px-4 py-3 rounded"
                    onclick="document.getElementById('my_modal_1').showModal()">Add Schedule +</button>
            </li>
            <li><a><img class="h-10 w-10" src="https://img.icons8.com/?size=50&id=11642&format=png" alt=""></a></li>
            <li><a><img class="h-10 w-10" src="https://img.icons8.com/?size=32&id=39116&format=png" alt=""></a></li>
        </ul>
    </div>

    <dialog id="my_modal_1" class="modal">
        <div class="modal-box lg:w-[50%] w-[90%] rounded-xl max-w-none p-7">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost m-5 lg:m-7 absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-xl">Add Car Booking</h3>
            <div class="divider"></div>
            <h1 class="font-bold text-xl mb-4 text-[#636AE8]">Basic Information</h1>

            <form class="w-full pb-5" (ngSubmit)="onUserSubmit()" [formGroup]="userForm">
                <div class="flex items-center gap-5 w-full mb-5">
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">Notes</span>
                        </label>
                        <input type="text" formControlName="title" name="notes" placeholder="Write Your Notes"
                            class="input input-bordered w-full bg-[#F3F4F6] rounded-full border-none" required />
                    </div>

                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">Select Car</span>
                        </label>
                        <select name="carName"
                            class="select select-bordered w-full rounded-full bg-[#F3F4F6] border-none" required>
                            <option disabled selected>Select Car</option>
                            <option>Toyota</option>
                            <option>Honda</option>
                            <option>BMW</option>
                        </select>
                    </div>
                </div>

                <div class="flex items-center gap-5 w-full mb-5">
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">Booking Date</span>
                        </label>
                        <input name="startDate" type="date" formControlName="startDate"
                            class="input input-bordered w-full bg-[#F3F4F6] rounded-full border-none" required />
                    </div>
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">End Date</span>
                        </label>
                        <input name="endDate" type="date" formControlName="endDate"
                            class="input input-bordered w-full bg-[#F3F4F6] rounded-full border-none" required />
                    </div>
                </div>

                <div class="flex items-center gap-5 w-full">
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">Start Time</span>
                        </label>
                        <input name="startTime" type="time" formControlName="startTime"
                            class="input input-bordered w-full bg-[#F3F4F6] rounded-full border-none" required />
                    </div>
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text font-bold">End Time</span>
                        </label>
                        <input name="endTime" type="time" formControlName="endTime"
                            class="input input-bordered w-full bg-[#F3F4F6] rounded-full border-none" required />
                    </div>
                </div>

                <button type="submit" class="btn mt-10 w-full bg-[#636AE8] text-white">Add Booking</button>
            </form>
        </div>
    </dialog>
</div>